{% if section.settings.show_announcement %}
    <section>
       <div class="flex justify-between p-4 bg-red-500 items-center">
            <div class="flex items-center gap-2">
                <img class="logo" src="{{ section.settings.image | image_url: width: 100 }}" alt="{{ section.settings.image.alt }}" width="50" height="50" loading="lazy">
                <h1 class="text-2xl font-bold"> {{ section.settings.brand_name }} </h1>
            </div>
            <div class="flex items-center gap-2">
                {% if section.blocks.size > 0 %}
                    {% for block in section.blocks %}
                        <a href="{{ block.settings.link_url }}" class="text-white">
                            {{ block.settings.link_text }}
                        </a>
                    {% endfor %}
                {% else %}
                    {% if shop.customer_accounts_enabled and customer %}   
                    <a href="{{ routes.account_url }}" class="text-white">
                        Account
                    </a>
                    {% endif %}
                    <a href="{{ routes.cart_url }}" class="text-white">
                        Cart
                    </a>
                {% endif %}
            </div>
       </div>
    </section>
{% endif %}

{% schema %}
{
    "name": "Announcement Bar",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_announcement",
            "label": "Show Announcement",
            "default": true
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "text",
            "id": "brand_name",
            "label": "Brand Name",
            "default": "Brand Name"
        }
    ],
    "blocks": [
        {
            "type": "links",
            "name": "Links",
            "settings": [
                {
                    "type": "text",
                    "id": "link_text",
                    "label": "Link Text"
                },
                {
                    "type": "url",
                    "id": "link_url",
                    "label": "Link URL"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Announcement Bar"
        }
    ]
}
{% endschema %}