<section class='flex w-full flex-col'>
  <div class='flex h-[10vh] items-center justify-center border-b border-black md:h-[20vh]'>
    <h2 class='text-center text-xl font-bold tracking-[0.1em]'>
      {{ collection.title | upcase }}
    </h2>
  </div>
  <div class='grid grid-cols-2 gap-px bg-black md:grid-cols-4'>
    {% for product in collection.products %}
      <a
        href='{{ product.url }}'
        class='flex w-full flex-col justify-between bg-white'
      >
        {{
          product.featured_image
          | image_url: width: 800
          | image_tag: class: 'h-[85%] w-full object-cover'
        }}
        <div class='flex h-[15%] flex-row items-center justify-between px-2 tracking-tight md:flex-col md:justify-center'>
          <h1 class='text-xs font-black'>
            {{ product.title | upcase }}
          </h1>
          <h2 class='text-xs'>
            {{ product.price | money }}
          </h2>
        </div>
      </a>
    {% endfor %}

    {% comment %} Fill incomplete rows with seamless white elements {% endcomment %}
    {% assign grid_cols = 4 %}
    {% if request.display_type == 'mobile' %}{% endif %}
    {% assign remainder = collection.products.size | modulo: grid_cols %}
    {% if remainder != 0 %}
      {% assign empty_cells = grid_cols | minus: remainder %}
      {% for i in (1..empty_cells) %}
        <div class='w-[110%] bg-white'></div>
      {% endfor %}
    {% endif %}
  </div>
  {% comment %} Add border-bottom after the grid to avoid superposition with gap-px {% endcomment %}
  <div class='w-full border-b border-black'></div>
</section>
